@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --primary-color: #192735;
  --secondary-color: #f17d08;
  --white-color: #ffffff;
  --black-color: #18191a;
  --gold-color: #fad608;
  --success-color: #097509;
  --alert-color: #b31818;
  --bg-color: #e7e7e7;
  --border-color: #b9b9b9;
}
html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  /* width: 100% */
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100% */
}
#root {
  height: 100%;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header; /* connect to grid-template-areas: 'header' */
  background-color: var(--primary-color);
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: var(--primary-color);
  color: var(--white-color);
}
/* Common */
h1 {
  font-size: 1.8rem; /* 18px */
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem; /* 16px */
  padding: 1rem 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--secondary-color);
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem; /* vertical space between items */
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.6rem;
  border: 0.1rem var(--border-color) solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: var(--bg-color);
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem var(--black-color) solid;
}
button.primary {
  background-color: var(--gold-color);
}
button.block { /* full width */
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: var(--white-color);
  padding: 1rem;
}
a.brand {
  color: var(--white-color);
  font-size: 3rem;
  font-weight: bold;
}
.badge {
  background-color: var(--alert-color);
  color: var(--white-color);
  border-radius: 50%; /* circle */
  padding: 0.1rem 0.5rem;
  font-size: 1.2rem;
  margin-left: 0.3rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 { /* flex-grow | flex-shrink | flex-basis */
  flex: 1 1 25rem;
}
.col-2 { /* https://developer.mozilla.org/en-US/docs/Web/CSS/flex */
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 0.9rem;
}
/* Image */
img {
  border-radius: 0.5rem;
}
img.small{
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 28rem;
  width: 100%;
}
img.large {
  width: 100%; /* for UX in smaller screen */
}
/* Card */
.card {
  border: 0.1rem var(--border-color) solid;
  background-color: var(--bg-color);
  border-radius: 0.6rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * { /* all children */
  margin-bottom: 0.4rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: var(--gold-color);
  margin: 0.1rem;
}
.rating span:last-child {
  color: var(--black-color);
}
/* Alert */
.loading {
  display: block !important; /* prevent spinner moving around for loading */
}
.success {
  color: var(--success-color);
}
.danger {
  color: var(--alert-color);
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.6rem;
}
.alert-info { /* default */
  color: var(--primary-color);
  background-color: var(--bg-color);
}
.alert-danger {
  color: var(--alert-color);
  background-color: var(--bg-color);
}
.alert-success {
  color: var(--success-color);
  background-color: var(--bg-color);
}
/* Form */
.form {
  max-width: 60rem; /* 600px */
  margin: 0 auto; /* center */
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 0.8rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block; /* name and icon next to each other */
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none; /* not show by default */
  right: 0; /* stick to the right of the screen */
  min-width: 12rem;
  padding: 0.8rem;
  z-index: 1; /* top */
  background-color: var(--primary-color);
  margin: 0;
  margin-top: 0.3rem;
  border-radius: 0.6rem;
}
.dropdown:hover .dropdown-content {
  display: block; /* show the menu */
}
/* Checkout Steps */
.checkout-steps > div{
  border-top: 0.25rem var(--border-color) solid;
  color: var(--border-color);
  flex: 1;
  padding: 0.8rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: var(--secondary-color);
  color: var(--secondary-color);
}
/* Table */
.table{
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: var(--bg-color);
}
.table td, 
.table th {
  text-align: left;
  border: 0.1rem solid var(--border-color);
  padding: 0.5rem;
}
.table button {
  margin: 0 0.15rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 25rem;
}
/*
.carousel .slide {
  background: var(--black-color) !important;
}
*/
/* Search */
.search button {
  border-radius: 0 0.6rem 0.6rem 0;
  border-right: none; /* no duplicate border */
  margin-right: 0.4rem;
}
.search input {
  width: 25rem;
  border-radius: 0.6rem 0 0 0.6rem;
  border-right: none;
  margin-left: 0.4rem;
}
/* Break Points */
@media (max-width: 768px){
  .grid-container{
    grid-template-rows: 10rem 1fr 5rem;
  }
  header.row {
    justify-content: flex-start; 
  }
  .dropdown-content{
    left: 0;
  }
}

/* 
@media (max-width: 576px){
  .grid-container{
    width:576px; 
  }
  header {
    min-width:576px; 
  }
}
.carousel .slide { //in the carousel.min.css
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  background: #000;
}
*/
